* {
  box-sizing: border-box; }

body {
  font-family: Lato;
  font-size: 14px; }

a {
  color: #5f9da1;
  text-decoration: none; }

.container {
  max-width: 1080px;
  margin: 0 auto; }

.main {
  padding: 0 23px;
  display: table;
  height: 90px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%; }
  .main img {
    position: relative;
    top: 7px;
    margin-right: 15px; }
  .main .hamburger-nav {
    font-size: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: none; }

.content {
  width: 80%;
  padding: 0 20px;
  float: left; }
  .content .title {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center; }

.sidebar {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  width: 20%;
  float: left;
  padding: 35px; }
  .sidebar > ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .sidebar > ul > li {
      font-size: 18px;
      font-weight: 400;
      padding: 0 0 10px;
      margin: 25px 0 0px;
      color: black; }
      .sidebar > ul > li > ul {
        border-top: 1px dashed rgba(0, 0, 0, 0.1);
        display: block;
        list-style: none;
        margin: 10px 0 0 0;
        padding: 10px 0 0 0;
        font-size: 14px; }
  .sidebar a {
    line-height: 1.5; }
    .sidebar a:hover {
      color: #73afb6;
      cursor: pointer; }
    .sidebar a.active {
      color: #345C5F; }

.example.hidden {
  display: none; }

button {
  background: #5f9da1;
  border: none;
  color: black;
  font-size: 13px;
  padding: 10px;
  text-transform: uppercase;
  margin: 10px auto;
  display: block; }

.example {
  position: relative; }
  .example > div {
    position: relative;
    transition: all 0.25s;
    height: auto;
    margin-top: 10px; }
    .example > div.hidden {
      height: 40px;
      overflow: hidden; }
    .example > div .overlay {
      display: none;
      padding: 12px;
      color: grey; }
      .example > div .overlay.show {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #2d2e28;
        z-index: 2;
        top: 0;
        font-size: 13px;
        letter-spacing: 1px; }

.toggle {
  width: 20px;
  height: 20px;
  background: url(../img/minus.png);
  background-size: 50% auto;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 10px;
  top: 10px;
  user-select: none;
  z-index: 2; }

@media (max-width: 1080px) {
  .sidebar {
    padding: 25px;
    width: 20%; } }
@media (max-width: 780px) {
  .sidebar-overlay {
    background: white;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    transition: 0.25s all;
    visibility: hidden; }
    .sidebar-overlay.show {
      visibility: visible;
      opacity: 0.7; }

  .sidebar {
    position: fixed;
    width: 200px;
    left: -200px;
    background-color: #5f9da1;
    transition: all 0.25s;
    top: 0;
    z-index: 3;
    height: 100%;
    overflow: scroll; }
    .sidebar.show {
      left: 0; }
    .sidebar a {
      color: #2d2e28; }
      .sidebar a:hover {
        color: black; }

  .content {
    width: 100%; }

  .main .hamburger-nav {
    display: block; } }
.description {
  line-height: 1.4;
  letter-spacing: 0.1px; }
  .description blockquote {
    font-size: 13px;
    font-weight: 300;
    background: #f9f9f9;
    box-shadow: #f1f1f1 0 0 0 1px inset;
    border-radius: 2px;
    padding: 10px; }

/*# sourceMappingURL=style.css.map */
