<p>This is a running collection of notes related to the book <a href="http://eloquentjavascript.net/">Eloquent JavaScript</a> (2nd Edition) by <a href="https://marijnhaverbeke.nl/">Marijn Haverbeke</a>. It was built with the intent of clarifying and solidifying some of the more interesting and/or obscure elements of the JavaScript language.</p>
<p>The material is intended for those who have a good grasp of JavaScript but would like to fill in the gaps.</p>

<blockquote>"Below the surface of the machine, the program moves. Without effort, it expands and contracts. In great harmony, electrons scatter and regroup. The forms on the monitor are but ripples in the water. The essense stays invisibly below."<br><br>- Aster Yuan-Ma, <em>The Book of Programming</em></blockquote>