<p>This is the only value in JavaScript that is not equal to itself.</p>

<blockquote>NaN is supposed to denote the result of a nonsensical computation and as such, it isn't equal to the result of <em>other</em> nonsensical compoutations.</blockquote>